APPDYNAMICS_EUM_HOST=pdx-col.eum-appdynamics.com
APPDYNAMICS_EUM_APP_NAME=${ADWRKSHP_EUM_APP_NAME}
APPDYNAMICS_EUM_KEY=${ADWRKSHP_EUM_APP_KEY}
LOADGEN_HOSTNAME=172.17.0.1
LOADGEN_BASEURL=/rest
LOADGEN_PORT=8080
